
@{
    ViewBag.Title = "DeleteQueuePage";
    Layout = "~/Views/Shared/_queue.cshtml";
}

<h2>DeleteQueuePage</h2>
<form action="@Url.Action("DeleteQueue", "Queue")" method="post">
    Which queue item do you want to delete? <input type="text" name="searchBox" id="searchBox" />
    <input type="submit" name="submit" id="submit" />
</form>

