
@{
    ViewBag.Title = "Queue";
    Layout = "~/Views/Shared/_queue.cshtml";
}

<h2>Queue</h2>
<div>
    <p name="viewbagResult" id="viewbagResult">@ViewBag.Result</p>
</div>
<script>
    myTimer();
</script>

