
@{
    ViewBag.Title = "SearchQueuePage";
    Layout = "~/Views/Shared/_queue.cshtml";
}

<h2>SearchQueuePage</h2>
<form action="@Url.Action("SearchQueue", "Queue")" method="post">
    Search for... <input type="text" name="searchBox" id="searchBox"/>
    <input type="submit" name="submit" id="submit" />
</form>

