.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #0a194e;
    background-image: url("../Graphics/abstract_blue_geometric.jpeg");
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: -300px;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
}

button {
    background-color: rgba(0,0,0,0);
    border: 0px;
    color: #007BFF;
    padding-left: 0px;
}

button:hover {
    text-decoration: underline;
}