
@{
    ViewBag.Title = "DisplayDictionary";
    Layout = "~/Views/Shared/_dictionary.cshtml";
}

<h2>DisplayDictionary</h2>

<!-- Display the viewbag for all of the dictionaries-->
@Html.Raw(ViewBag.displayDictionary)

