
@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_dictionary.cshtml";
}

<h2>Dictionary</h2>
<div>
    <p name="viewbagResult" id="viewbagResult">@ViewBag.Result</p>
</div>
<script>
    myTimer();
</script>


