
@{
    ViewBag.Title = "SearchDictionaryPage";
    Layout = "~/Views/Shared/_dictionary.cshtml";
}

<h2>SearchDictionaryPage</h2>
<form action="@Url.Action("SearchDictionary", "Dictionary")" method="post">
    Search for... <input type="text" name="searchBox" id="searchBox" />
    <input type="submit" name="submit" id="submit" />
</form>

