
@{
    ViewBag.Title = "Stack";
    Layout = "~/Views/Shared/_stack.cshtml";
}

<h2>Stack</h2>
<div>
    <p name="viewbagResult" id="viewbagResult">@ViewBag.Result</p>
</div>
<script>
    myTimer();
</script>
