
@{
    ViewBag.Title = "SearchStackPage";
    Layout = "~/Views/Shared/_stack.cshtml";
}

<h2>SearchStackPage</h2>
<form action="@Url.Action("SearchStack", "Stack")" method="post">
    Search for... <input type="text" name="searchBox" id="searchBox" />
    <input type="submit" name="submit" id="submit" />
</form>
