
@{
    ViewBag.Title = "Index";
}

<!-- This project has options to add, remove, and search items
        in a stack, queue, and dictionary.-->
<!-- Authors:
    Mckay Dalling
    Matthew Gardner
    Parker Pixton
    Landon Williams-->
<h2>Index</h2>
<div class="w3-bar w3-black">
    <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
    <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a>
    <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
    <a href="https://byu.edu/" class="w3-bar-item w3-button">Exit</a>
</div>

